{{!< default}}
<div class="row" style="background: #2c3e50;">
  <div class="col-md-8 col-md-offset-2">
	<div class="holder">
        {{#post}}

        <!--<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>-->

        <section class="post-content">
            {{content}}
        </section>

        {{/post}}
		</div>
	</div>
</div>