{{!< default}}
<div class="row" style="background: #2c3e50;">
  <div class="col-md-8 col-md-offset-2">
	<div class="holder">
		{{#post}}
		<section class="post-content">
			{{content}}
		</section>

		{{/post}}
		</div>
	</div>
</div>